.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.blur5 {
    filter: blur(5px);
}

.border-radius-10 {
    border-radius: 10px;
}

footer {
    text-align: center;
    font-weight: bold;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    margin-top: 50px;
}
